<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.phonegap.mybusinessweb" versionCode="10" version="0.1.1">

  <name>
    HaloFX
  </name>

  <description>
    RGB Studio lamp
  </description>

  <author>
    Sadzee Media
  </author>
  
<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />
  
<plugin name="cordova-plugin-whitelist" source="npm" />
<plugin name="cordova-plugin-bluetooth-serial" source="npm" />

</widget>